<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>時間割</title>
    <link rel="stylesheet" href="reset.css"> <!-- 必要ならリセットCSS -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="footer">
        <span style="padding-left: 10%; font-size: large;">Unitrex</span>
        <input type="checkbox" id="overlay-input" />
        <label class="menu-button" for="overlay-input" id="overlay-button">
            <span class="menu-label">menu</span>
            <span class="hamburger-icon"></span>
        </label>
    </div>


    <div class="gnavi__wrap">
        <ul class="gnavi__lists">
            <li class="gnavi__list">
                <a href="#">二年後期時間割</a>
                <ul class="dropdown__lists">
                    <li class="dropdown__list"><a href="#">一年前期時間割</a></li>
                    <li class="dropdown__list"><a href="#">一年後期時間割</a></li>
                    <li class="dropdown__list"><a href="#">二年前期時間割</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <table>
        <tr class="dayofweek">
            <th></th>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th></th>
        </tr>
        <tr>
            <th>1</th>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td></td>
        </tr>
        <tr>
            <th>2</th>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td></td>
        </tr>
        <tr>
            <th>3</th>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td></td>
        </tr>
        <tr>
            <th>4</th>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td></td>
        </tr>
    </table>
    <div class="link_all">
        <a href="registration.html" class="link_a">単位確認ページへ</a>
        <a href="registration.html"><img src="Group 453.png" class="img_a" alt=""></a>
    </div>
    <div class="notice">
        <div class="text-with-lines">
            <div class="text-contents">
                <div class="text-english">notice</div>
                <div class="text-japanese">お知らせ</div>
            </div>
        </div>
        <div class="notice-stand">
            <ul class="news-list">
                <li class="item">
                    <a href="#">
                        <div class="tabulabel first">緊急</div>
                        <p class="title">Java授業の有給が残り1日で終了です</p>
                    </a>
                </li>
                <li class="item">
                    <a href="#">
                        <div class="tabulabel second">通常</div>
                        <p class="title">データベースの有給が10日も残っています</p>
                    </a>
                </li>
                <li class="item">
                    <a href="#">
                        <div class="tabulabel second">通常</div>
                        <p class="title">PHP授業の有給が3日で終了です</p>
                    </a>
                </li>
            </ul>
            <ul class="news-list">
                <li class="item">
                    <a href="#">
                        <div class="tabulabel first">緊急</div>
                        <p class="title">Java授業の有給が残り1日で終了です</p>
                    </a>
                </li>
                <li class="item">
                    <a href="#">
                        <div class="tabulabel second">通常</div>
                        <p class="title">データベースの有給が10日も残っています</p>
                    </a>
                </li>
                <li class="item">
                    <a href="#">
                        <div class="tabulabel second">通常</div>
                        <p class="title">PHP授業の有給が3日で終了です</p>
                    </a>
                </li>
            </ul>
        </div>
        <div style="display: flex; justify-content:space-around;width: 90%;">
            <a href="#" class="view-all" style="width: 100%;padding:3%;padding-left: 10%;">VIEW ALL</a>
            <a href="registration.html"style="width: 50%;"><img src="Arrow 2.png" class="arrows" alt=""></a>
        </div>
    </div>

</body>

</html>