<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="ログインページ" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/login/login.css' %}" />
  <title>login</title>
</head>

<body>
  <div class="flex align-center justify-center">
      <div class="flex align-center">
        <img src="{% static 'image/image.png' %}" alt="アイコン">
        <h1 class="center">Unitrex</h1>
      </div>
      <h2>パスワードリセット</h2>
  </div>

  <p>登録したメールアドレスを入力してください。パスワード再設定用のリンクをお送りします。</p>

  <form method="post">
    {% csrf_token %}
    {{ form.email.label_tag }}<br>
    {{ form.email }}<br><br>
    <button type="submit">送信</button>
  </form>
</body>

</html>