<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="ログインページ" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Sans+JP:wght@100..900&family=Pacifico&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Yuji+Syuku&display=swap" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/login/login.css' %}" />
    <title>login</title>
    <style>
      p:nth-child(1){
        border-bottom: solid #D9D9D9;
      }
    </style>
  </head>

  <body>
    <div class="flex align-center justify-center" style="margin-top: 20px;">
      <div class="flex align-center">
        <img src="{% static 'image/logo.png' %}" alt="アイコン" />
        <h1 class="center">Unitrex</h1>
      </div>
    </div>
    <div style="width: 100vw; margin-top: 60px;">
      <h2 style="text-align: center; font-size: 12px;">新しいパスワードを入力</h2>
    </div>
    <form method="post">
      {% csrf_token %}
      <div class="border-bottom">{{ form.as_p }}</div>
      <div style="margin-top:20px;text-align: center;">
        <button type="submit" style="padding: 3px 8px; background-color: skyblue;color: white; border: none; border-radius:1px; border: 0.5px solid black;">パスワードをリセット</button>
      </div>
    </form>
  </body>
</html>
