<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="descliption" content="欠席一覧ページ">
    <link rel="stylesheet" href="absences.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Sans+JP:wght@100..900&family=Pacifico&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Yuji+Syuku&display=swap"
        rel="stylesheet">
    <title>欠席一覧</title>
</head>

<body style="background-color: #F4F5F7;">
    <header>
        <nav>
            <div class="footer">
                <img src="../../static/image/image.png" alt="アイコン">
                <span style="padding-left: 10%; font-size: large;">Unitrex</span>
                <input type="checkbox" id="overlay-input" />
                <label class="menu-button" for="overlay-input" id="overlay-button">
                    <span class="menu-label">menu</span>
                    <span class="hamburger-icon"></span>
                </label>
            </div>

            </ul>
        </nav>
    </header>
    <main>
        <!-- ここから検索結果 -->
        <table>
            <thead>
                <tr>
                    <th>教科名</th>
                    <th>欠席日</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border">
                    <td>Java</td>
                    <td>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                    </td>
                </tr>
                <tr>
                    <td>Python</td>
                    <td>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                    </td>
                </tr>
                <tr>
                    <td>Javascript</td>
                    <td>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                    </td>
                </tr>
                <tr>
                    <td>Java</td>
                    <td>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                    </td>
                </tr>
                <tr>
                    <td>Java</td>
                    <td>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                    </td>
                </tr>
                <tr>
                    <td>Python</td>
                    <td>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                    </td>
                </tr>
                <tr>
                    <td>Javascript</td>
                    <td>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                        <p>2025/04/07</p>
                    </td>
                </tr>


            </tbody>
        </table>
    </main>
</body>

</html>
</body>

</html>