{% extends 'base.html' %}
{% load static %}

<meta name="descliption" content="欠席一覧ページ" />
{% block css %}
  <link rel="stylesheet" href="absences.css" />
{% endblock %}

{% block title %}
  欠席一覧
{% endblock %}

{% block content %}
  <main>
    <!-- ここから検索結果 -->
    <table>
      <thead>
        <tr>
          <th>教科名</th>
          <th>欠席日</th>
        </tr>
      </thead>
      <tbody>
        {% for item in attendances %}
          <tr>
            <td>{{ item.subject }}</td>
            <td>
              {% for date in item.dates %}
                <p>{{ date }}</p>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock %}
