<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>履修一覧</title>
    <link rel="stylesheet" href="list.css">
</head>
<body>
    <div class="search-box">
        <input type="text" placeholder="教科または先生で検索">
    </div>
        <select name="gakusai" id="rules">
            <option value="">学期</option>
        </select>
    <form>
        <div class="subject">
            <div class="box1"></div>
            <div class="element">
                <p class="explanation">出席37/45</p>
                <h1 class="subject-name">PHP基礎</h1>
                <p class="explanation">出席37/45</p>
                <p class="explanation">欠席5/9</p>
                <button type="button" class="subject-button">単位</button>
            </div>
        </div>
        <div class="subject">
            <div class="box1"></div>
            <div class="element">
                <p class="explanation">出席37/45</p>
                <h1 class="subject-name">PHP基礎</h1>
                <p class="explanation">出席37/45</p>
                <p class="explanation">欠席5/9</p>
                <button type="button" class="subject-button">単位</button>
            </div>
        </div>
        <div class="subject">
            <div class="box1"></div>
            <div class="element">
                <p class="explanation">出席37/45</p>
                <h1 class="subject-name">PHP基礎</h1>
                <p class="explanation">出席37/45</p>
                <p class="explanation">欠席5/9</p>
                <button type="button" class="subject-button">単位</button>
            </div>
        </div>
        <div class="subject">
            <div class="box1"></div>
            <div class="element">
                <p class="explanation">出席37/45</p>
                <h1 class="subject-name">PHP基礎</h1>
                <p class="explanation">出席37/45</p>
                <p class="explanation">欠席5/9</p>
                <button type="button" class="subject-button">単位</button>
            </div>
        </div>
        <div class="subject">
            <div class="box1"></div>
            <div class="element">
                <p class="explanation">出席37/45</p>
                <h1 class="subject-name">PHP基礎</h1>
                <p class="explanation">出席37/45</p>
                <p class="explanation">欠席5/9</p>
                <button type="button" class="subject-button">単位</button>
            </div>
        </div>
        
    </form>
</body>

</html>