<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>授業登録</title>
  </head>

  <body>
    <form method="POST">
      <div class="Form">
        <div class="Form-Item">
          <p class="Form-Item-Label">授業名</p>
          <input type="text" class="Form-Item-Input" placeholder="例）4232116" />
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label"></p>
          <select name="gakusai" id="rules">
            <option value="">学期</option>
            {% for semester in semesters %}
              <option value="{{ semester.id }}">{{ semester.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label">推奨学年</p>
          <input type="text" class="Form-Item-Input" placeholder="例）4232116" />
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label">教材費</p>
          <input type="text" class="Form-Item-Input" placeholder="例）4232116" />
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label">検定費</p>
          <input type="text" class="Form-Item-Input" placeholder="例）4232116" />
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label"></p>
          <select name="gakusai" id="rules">
            <option value="">学則科目名</option>
            {% for category in categorys %}
              <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label">開講年度</p>
          <input type="text" class="Form-Item-Input" placeholder="例）4232116" />
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label">単位時間</p>
          <input type="text" class="Form-Item-Input" placeholder="例）4232116" />
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label"></p>
          <select name="gakusai" id="rules">
            <option value="">曜日</option>
            <option value="1">月</option>
            <option value="2">火</option>
            <option value="3">水</option>
            <option value="4">木</option>
            <option value="5">金</option>
          </select>
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label"></p>
          <select name="gakusai" id="rules">
            <option value="">コマ</option>
          </select>
        </div>
        <div class="quantity-container">
          <button class="minus">−</button>
          <button class="plus">＋</button>
        </div>
        <div class="login-input">
          <input id="submit" type="submit" value="ログイン" />
        </div>
      </div>
    </form>
  </body>
</html>
