{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/subjects/syllabus.css' %}" />
{% endblock %}

{% block title %}
  シラバス詳細
{% endblock %}

{% block content %}
  <main class="flex">
    <div class="flex">
      <div class="l-box">
        <p>科目名</p>
        <p>推奨学年</p>
        <p>検定費</p>
        <p>教材費</p>
        <p>単位最大数</p>
        <p>単位取得条件</p>
      </div>
      <div class="r-box">
        <p>{{ subject.subject_name }}</p>
        <p>{{ subject.grade_level }}年</p>
        <p>{{ subject.exam_fee }}円</p>
        <p>{{ subject.material_cost }}円</p>
        <p>{{ subject.creadit_maxnum }}</p>
        <p>{{ subject.creadit_threshold }}</p>
        <p></p>
      </div>
    </div>
  </main>
{% endblock %}
