@charset "utf-8";

/* とりあえずスマホ画面だけ */


html,
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body{
  padding-bottom: 60px; 
}

.flex {
  display: flex;
}

.text-none {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.font-22 {
  font-size: 22px;
}

.align-center {
  align-items: center;
}

.ml-auto {
  margin-left: auto;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.form {
  width: 90%;
  margin: 0 auto;
}

#semester-select {
  border: none;

}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f2f2f2;
  /* padding: 1rem; */
  text-align: center;
  /*  */
  margin-top: auto;
  height: 40px;
  background-color: #f2f2f2;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  text-align: center;
  color: #434343;
  font-size: 12px;
}

/************* humberger **************/
.color_footer {
  background: #85C89C;
}

.color_footer_top {
  background-color: #23A852;
}

.menu-container {
  position: relative;
  margin-left: 10px;
}

/* ハンバーガーアイコン */
.hamburger {
  width: 34px;
  height: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
}

.color_menu {
  color: #23A852;
}

.flex_footer {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

.hamburger span {
  height: 4px;
  width: 100%;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* メニュー（初期状態は非表示） */
.menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100vh;
  /* ← 高さも画面全体に広げる */
  background: #ffffff;
  padding: 10px;
  border: 1px solid #ccc;
  animation: slideIn 0.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  z-index: 90;
}

@keyframes slideIn {
  0% {
    transform: translateX(180px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
  }

  40%,
  100% {
    opacity: 1;
  }
}

.menu ul {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.menu.active {
  display: block;
}

.text-center li {
  text-align: center;
}

.text-center li a {
  text-decoration: none;
  color: #23a852;
}

.text-center li:nth-child(-n + 6) {
  margin-top: 30px;
}

.text-center li:first-child {
  margin-top: 60px;
}

/* ✖に変形するアニメーション（オプション） */
.hamburger.open span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
  z-index: 100;
}

.text-center li:last-child {
  margin-top: auto;
  /* ← これで一番下に寄せる！ */
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
  z-index: 100;
}

/* スマホ画面 */

@media screen and (max-width: 440px) {
  header {
    height: 60px;
  }

  .logo {
    width: 40px;
    height: auto;
  }
}

@media screen and (min-width: 441px) {

  .logo {
    width: 40px;
    height: auto;
  }

  header {
    height: 80px;
  }
}