<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>履修登録画面</title>
    <link rel="stylesheet" href="reset.css"> <!-- 必要ならリセットCSS -->
    <link rel="stylesheet" href="registration.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">


</head>

<body>
    <div class="footer">
        <span style="padding-left: 10%; font-size: large;">Unitrex</span>
        <input type="checkbox" id="overlay-input" />
        <label class="menu-button" for="overlay-input" id="overlay-button">
            <span class="menu-label">menu</span>
            <span class="hamburger-icon"></span>
        </label>
    </div>


    <div class="gnavi__wrap">
        <ul class="gnavi__lists">
            <li class="gnavi__list">
                <a href="#">二年後期時間割</a>
                <ul class="dropdown__lists">
                    <li class="dropdown__list"><a href="#">一年前期時間割</a></li>
                    <li class="dropdown__list"><a href="#">一年後期時間割</a></li>
                    <li class="dropdown__list"><a href="#">二年前期時間割</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <table>
        <tr class="dayofweek">
            <th></th>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th></th>
        </tr>
        <tr>
            <th>1</th>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td></td>
        </tr>
        <tr>
            <th>2</th>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td></td>
        </tr>
        <tr>
            <th>3</th>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td></td>
        </tr>
        <tr>
            <th>4</th>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td class="box flip"><a href="https://www.example.com" class="square-button"></a></td>
            <td></td>
        </tr>
    </table>
    <div class="link_all">
        <a href="registration.html" class="link_a">単位確認ページへ</a>
        <a href="registration.html"><img src="Group 453.png" class="img_a" alt=""></a>
    </div>
    <div>
        <form method="get" action="#" class="search_container">
            <button type="submit"><i class="fas fa-search"></i></button>
            <input type="text" size="25" placeholder="キーワード検索">
        </form>
        <div class="checkbox-box">
            <span class="label">Python(Django)</span>
            <input type="checkbox">
        </div>
        <div class="checkbox-box">
            <span class="label">Python(Django)</span>
            <input type="checkbox">
        </div>
        <div class="checkbox-box">
            <span class="label">Python(Django)</span>
            <input type="checkbox">
        </div>
        <div class="checkbox-box">
            <span class="label">Python(Django)</span>
            <input type="checkbox">
        </div>

    </div>

</body>

</html>