<!-- {%load static%} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="descliption" content="ログインページ">
    <title>login</title>
    <!-- <link rel="stylesheet" href="{% static 'css/login.css' %}"> -->
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <h1 class="center">Unitrex</h1>

    <form action="#" method="post">
        <div class="center">
            <div class="border-buttom">
                <h2>メールアドレス</h2>
                <input class="border-none" type="email" name="email" id="email" placeholder="メールアドレスを入力してください">
            </div>

            <div class="border-buttom">
                <h2>パスワード</h2>
                <input type="password" name="password" id="password" placeholder="パスワードを入力してください">
            </div>
            <div class="login-input">
                <input id="submit" type="submit" value="ログイン">
            </div>
        </div>

    </form>

    <p class="bule"><a href="/register">アカウントをお持ちでない方はこちら</a></p>
    <p class="bule"><a href="/password/reset">パスワードを忘れた方はこちら</a></p>


</body>

</html>