{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/absence/absence.css' %}" />
{% endblock %}

{% block title %}
  欠席送信
{% endblock %}

{% block content %}
  <form method="POST" action="{% url 'attendances:non_attendance_regist' %}">
    {% csrf_token %}
    <input type="hidden" name="timetable_id" value="{{ mytimetable_id }}" />
    <input type="hidden" name="subject_id" value="{{ subject_id }}" />

    <div class="switch">
      <div class="toggle-button">
        <p class="timetable">1コマ目</p>
        <p class="absence">欠席</p>
        <label class="toggle-label">
          <input type="checkbox" class="toggle-input" name="absent_lessons1" value="1" />
          <span class="slider"></span>
        </label>
      </div>

      <div class="toggle-button">
        <p class="timetable">2コマ目</p>
        <p class="absence">欠席</p>
        <label class="toggle-label">
          <input type="checkbox" class="toggle-input" name="absent_lessons2" value="2" />
          <span class="slider"></span>
        </label>
      </div>

      <div class="toggle-button">
        <p class="timetable">3コマ目</p>
        <p class="absence">欠席</p>
        <label class="toggle-label">
          <input type="checkbox" class="toggle-input" name="absent_lessons3" value="3" />
          <span class="slider"></span>
        </label>
      </div>

      <div class="toggle-button">
        <p class="timetable">4コマ目</p>
        <p class="absence">欠席</p>
        <label class="toggle-label">
          <input type="checkbox" class="toggle-input" name="absent_lessons4" value="4" />
          <span class="slider"></span>
        </label>
      </div>
    </div>

    <h2>欠席連絡</h2>

    <div class="contact">
      <p class="contact-id">送信先</p>
      <select name="teacher" id="teacher-name">
        <option value="">---</option>
        {% for slack in slack_members %}
          <option value="{{ slack.member }}">{{ slack.name }}</option>
        {% endfor %}
      </select>

      <textarea cols="30" rows="5" name="message"></textarea>
    </div>

    <input type="submit" id="send-btn" value="送信する" />
  </form>
{% endblock %}
