<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="登録ページ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">
    <title>登録フォーム</title>
</head>
<body>
    <h1>Unitrex</h1>
    <form action="#" method="post">
        <div class="center">
            <div class="border-bottom">
                <h2>学籍番号</h2>
                <input type="text" placeholder="学籍番号を入力してください。">
            </div>

            <div class="border-bottom">
                <h2>氏名</h2>
                <input type="text" placeholder="氏名を入力してください。">
            </div>

            <div class="border-bottom">
                <h2>メールアドレス</h2>
                <input type="email" placeholder="メールアドレスを入力してください。">
            </div>

            <div class="border-bottom">
                <h2>パスワード</h2>
                <input type="password" placeholder="パスワードを設定してください。">
            </div>
        </div>
        
        <div class="register-input"><input type="submit" value="新規登録"></div>
        
    </form>
</body>
</html>