{% extends 'base.html' %}
{% load static %}
<meta name="description" content="登録ページ" />
{% block css %}
  <link rel="stylesheet" href="{% static 'css/register/register.css' %}" />
{% endblock %}

{% block title %}
  登録フォーム
{% endblock %}

{% block content %}
  <div class="flex align-center justify-center">
    <div class="flex align-center">
      <img src="{% static 'image/image.png' %}" alt="アイコン" />
      <h1 class="center">Unitrex</h1>
    </div>
  </div>
  <form method="post" action="{% url 'accounts:signup' %}">
    {% csrf_token %}
    <div class="form-center">
      {{ form.non_field_errors }}

      {% for field in form %}
        {% for error in field.errors %}
          <small class="align-center">{{ error }}</small>
        {% endfor %}
        <div class="border-bottom">{{ field.label_tag }}
          {{ field }}</div>
      {% endfor %}
    </div>
    <div class="register-input">
      <input type="submit" value="新規登録" />
    </div>
  </form>
  <p class="bule">
    <a href="{% url 'accounts:login' %}">ログイン画面へ</a>
  </p>
{% endblock %}
