{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/list/list.css' %}" />
{% endblock %}

{% block title %}
  履修一覧
{% endblock %}

{% block content %}
  <div class="search-box">
    <input type="text" placeholder="教科または先生で検索" />
  </div>
  <div class="item">
    <select name="school-rules" id="rules">
      <option value="">学則項目</option>
    </select>
    <select name="annual" id="annual">
      <option value="">年次</option>
    </select>
    <select name="time-count" id="time-count">
      <option value="">時間数</option>
    </select>
  </div>

  {% for subject in subjects %}
    <div class="subject">
      <div class="shadow"></div>
      <div class="element">
        <p class="subject-name">{{ subject.subject_name }}</p>
        <p class="explanation">単位数: {{ subject.creadit_maxnum }}</p>
        <p class="explanation">学則科目名: {{ subject.category.name }}</p>
        <form action="{% url 'subjects:syllabus_detail' subject.id %}" method="get">
          <button type="submit" class="subject-button">詳細表示</button>
        </form>
      </div>
    </div>
  {% endfor %}
{% endblock %}
