<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>履修一覧</title>
  <link rel="stylesheet" href="{% static 'css/list/list.css' %}">
</head>
<header>
  <h3>X</h3>
  <h2>履修科目</h2>
  <h2>menu</h2>
</header>

<body>
  <div class="search-box">
    <input type="text" placeholder="教科または先生で検索">
  </div>
  <div class="item">
    <select name="school-rules" id="rules">
      <option value="">学則項目</option>
    </select>
    <select name="annual" id="annual">
      <option value="">年次</option>
    </select>
    <select name="time-count" id="time-count">
      <option value="">時間数</option>
    </select>
  </div>

  {% for subject in subjects %}
  <div class="subject">
    <div class="shadow"></div>
    <div class="element">
      <p class="subject-name">{{ subject.subject_name }}</p>
      <p class="explanation">単位数: {{ subject.creadit_maxnum }}</p>
      <p class="explanation">学則科目名: {{ subject.category.name }}</p>
      <form action="{% url 'subjects:syllabus_detail' subject.id %}" method="get">
        <button type="submit" class="subject-button">詳細表示</button>
      </form>
    </div>
  </div>
  {% endfor %}
</body>

</html>
